.container {
  display: inline-block;
  position: relative;
  width: 90%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.group-1 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
}
.top-line {
  height: 87px;
}
.vertical {
  object-fit: cover;
  position: absolute;
  width: 5px;
  left: 332px;
}
.horizontal {
  background-color: transparent;
  height: 5px;
  object-fit: cover;
  position: absolute;
  width: 251px;
}

.line-1 {
  top: 10px;
}
.line-2 {
  left: 14px;
  top: 165px;
}
.line-3 {
  top: 240px;
}
.line-4 {
  left: 406px;
  top: 472px;
}

.curve {
  height: 78px;
  object-fit: cover;
  position: absolute;
  width: 78px;
}
.shape-1 {
  left: 260px;
  top: 93px;
}
.shape-2 {
  left: 333px;
  top: 166px;
}
.shape-3 {
  top: 398px;
  left: 333px;
}
.icon {
  color: white;
  padding: 20px 25px;
  position: absolute;
}
.list-icon {
  left: 290px;
  top: 120px;
}
.boxtime-icon {
  left: 272px;
  top: 411px;
  width: 128px;
}
.ellipse {
  position: absolute;
  left: 280px;
}
.e-1 {
  top: 113px;
}
.e-2 {
  top: 420px;
}
.whitepaper {
  position: absolute;
  top: 130px;
}
